<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- custom css -->
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

  <title>Eat-da-Burger!</title>
</head>

<body>
  <div class="container">
    <div class="header center-align">
      <img src="/assets/img/burger.png" width="400" alt="burger pic">
      <h1>Eat-da-Burger</h1>
    </div>

    <div class="row center-align">
      <form class="col s12">
        <div class="form row">
          <div class="input-field col s10">
            <input class="burger_name" name="name" type="text">
            <label for="burger">Enter Burger Name</label>
          </div>
          <div class="input-field col s2">
            <button class="submit btn waves-effect waves-light" type="submit"><i class="material-icons left">playlist_add</i>Add
              Burger</button>
          </div>
        </div>
      </form>
    </div>

    <div class="body">
      {{{ body }}}
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="assets/js/burger.js"></script>
</body>

</html>